@import "../../variables.scss";

.favourites {
  padding: 5rem 3rem;
  &__title {
    color: #d5e56f;
    font-size: 2.5rem;
  }
  &__add-link {
    text-decoration: none;
    background-color: $logo-bg;
    border: none;
    padding: 1rem;
    border-radius: 3rem;
    margin: 3rem 0rem;
    font-size: 1rem;
    font-weight: bold;
    color: $bg-color;
    width: 8rem;
    cursor: pointer;
  }
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__title {
      min-width: 15rem;
    }
    &__link {
      min-width: 8rem;
    }
  }
}
