@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import "../../../variables.scss";

.footer {
  padding: $m-padding;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3rem;
  border-top: 0.5px solid #dae9b0;
  &__logo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    img {
      width: 15rem;
    }
  }
  &__p {
    display: flex;
    flex-direction: column;
    color: $text-color-1;
    font-family: $font-1;
    font-size: 0.7rem;
  }
  &__hummus-title {
    font-size: 1.1rem;
    font-family: $font-hummus;
    color: #b2df28;
    text-shadow: #b2df28 1px 0 8px;
  }
  &__names {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    color: $text-color-2;
    font-family: $font-1;
  }
}

@media (min-width: 600px) {
  .footer {
    padding: $padding;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10rem;
    &__logo {
      img {
        width: 30rem;
      }
    }
    &__p {
      font-size: 1rem;
    }
    &__hummus-title {
      font-size: 2rem;
    }
    &__names {
      padding-top: 2rem;
      font-size: 1.2rem;
      gap: 10rem;
    }
  }
}
