.navigation-arrows {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: center;
  padding-bottom: 5rem;
  @media (min-width: 600px) {
    gap: 20rem;
  }
  &__arrow-right {
    outline: none;
    border-radius: 4rem;
    font-weight: 700;
    background-image: linear-gradient(to right, #b2df28 0%, #d3daa7 100%);
    padding: 1rem 2rem;
    @media (min-width: 600px) {
      padding: 1rem 3rem;
    }
  }
  &__arrow-left {
    outline: none;
    border-radius: 4rem;
    font-weight: 700;
    background-image: linear-gradient(to right, #b2df28 0%, #d3daa7 100%);
    padding: 1rem 2rem;
    @media (min-width: 600px) {
      padding: 1rem 3rem;
    }
  }
}
