@import "../../variables.scss";

.burger-menu {
  width: 2.5rem;
}

.navbar-list {
  background-color: $bg-color;
  display: none;
  list-style: none;
  color: white;

  a {
    color: inherit;
    text-decoration: none;
  }
}

@media (max-width: 600px) {
  nav:hover {
    background-color: $bg-color;
    .navbar-list {
      font-size: 0.8rem;
      position: absolute;
      right: 0.5rem;
      float: none;
      display: flex !important;
      flex-direction: column;
      gap: 0.5rem;
      width: 8rem;
      padding: 1rem;

      &__item {
        padding-top: 2rem;
        width: 100%;
        border: 1px solid #d3daa7;
        align-items: center;
        text-align: center;
        padding: 5px 5px;
      }

      &__favourites {
        outline: none;
        border-radius: 4rem;
        font-weight: 700;
        background-image: linear-gradient(to right, #b2df28 0%, #d3daa7 100%);
        padding: 5px 5px;
      }
    }
  }
}
@media (min-width: 600px) {
  .burger-menu {
    display: none;
  }
  .navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    &__how {
      width: 3rem;
    }
    &__favourites {
      overflow: hidden;
      font-size: 0.7rem;
      background: none;
      cursor: pointer;
      padding: 10px 40px;
      display: inline-block;
      text-transform: uppercase;
      outline: none;
      position: relative;
      transition: all 0.3s;
      border-radius: 4rem;
      font-weight: 700;
      background-image: linear-gradient(to right, #b2df28 0%, #d3daa7 100%);
      color: black;
    }
  }
}
