.cover {
  display: flex;
  flex-direction: row;
  padding-top: 4rem;
}

.span-welcome {
  color: D5E56F;
}
.cover-info__search {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cover-info__searchbar {
  max-height: 1.3rem;
}
