@import "../../variables.scss";

.cover {
  display: flex;
  flex-direction: column;
  @media (min-width: 600px) {
    flex-direction: row-reverse;
    background-image: url(../../../public/img/cover.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    resize: both;
  }

  &__m-image {
    height: 23rem;
    width: 100%;
    background-image: url(../../../public/img/m-cover.png);
    background-repeat: no-repeat;
    background-position: right top;
    @media (min-width: 600px) {
      background-image: none;
    }
    background-size: cover;
  }
}
.cover-info {
  padding: 3.5rem;
  padding-bottom: 4rem;
  &__1p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-1;
    font-weight: 900;
    color: white;
    font-size: 1.7rem;
  }
  .span-welcome {
    color: #d5e56f;
    font-size: 2rem;
  }
  &__search1 {
    @media (min-width: 600px) {
      display: none;
    }
    padding: 0rem 0rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    button {
      padding: 1rem;
      border-radius: 30px;
      border: none;
      background-color: $logo-bg;
    }
  }
  &__search2 {
    display: none;
    @media (min-width: 600px) {
      padding: 0rem 0rem 2rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      button {
        padding: 1rem;
        border-radius: 30px;
        border: none;
        background-color: $logo-bg;
      }
    }
  }

  &__searchbar {
    min-height: 1.3rem;
    min-width: 14rem;
    border: none;
    border-radius: 4rem;
    padding: 1rem;
  }
  &__p {
    display: none;
    @media (min-width: 600px) {
      display: flex;
      flex-direction: column;
      padding-top: 2rem;
      color: white;
    }
  }
  &__arrow {
    width: 7.5rem;
  }
  &__properties {
    display: none;
    @media (min-width: 600px) {
      display: initial;
    }
    color: #d5e56f;
  }
}
