.burger-menu {
  width: 2.5rem;
}

.navbar-list {
  display: none;
  list-style: none;
  color: white;
}
nav:hover {
  .navbar-list {
    font-size: 0.8rem;
    position: absolute;
    right: 0.5rem;
    float: none;
    display: flex !important;
    flex-direction: column;
    gap: 1rem;
    li:nth-child(4) {
      text-transform: uppercase;
      outline: none;
      transition: all 0.3s;
      border-radius: 4rem;
      font-weight: 700;
      background-image: linear-gradient(to right, #b2df28 0%, #d3daa7 100%);
      padding: 5px 5px;
    }
  }
}

@media (min-width: 600px) {
  .burger-menu {
    display: none;
  }
  .navbar-list {
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }
  li:nth-child(4) {
    overflow: hidden;
    font-family: "Arial";
    font-size: 0.7rem;
    background: none;
    cursor: pointer;
    padding: 10px 40px;
    display: inline-block;
    text-transform: uppercase;
    outline: none;
    position: relative;
    transition: all 0.3s;
    border-radius: 4rem;
    font-weight: 700;
    background-image: linear-gradient(to right, #b2df28 0%, #d3daa7 100%);
    color: black;
  }
}
