$size-1: 12rem;
$size-2: 10rem;
.character-list {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

  &__character {
    display: grid;
    grid-template-rows: $size-2 $size-2 $size-2 $size-2 $size-2 $size-2 $size-2;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    @media (min-width: 1000px) {
      grid-template-rows: $size-1 $size-1 $size-1 $size-1;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 2rem;
    }
    @media (min-width: 800px) {
      grid-template-rows: $size-1 $size-1 $size-1 $size-1 $size-1;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 2rem;
    }
    @media (min-width: 600px) {
      grid-template-rows: $size-1 $size-1 $size-1 $size-1 $size-1 $size-1;
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (min-width: 500px) {
      grid-template-rows: $size-2 $size-2 $size-2 $size-2 $size-2 $size-2 $size-2;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
